@font-face {
  font-family: MarkBook;
  src: url("../fonts/MarkforHCA-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MarkMedium;
  src: url("../fonts/MarkforHCA-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MarkHeavy;
  src: url("../fonts/MarkforHCA-Heavy.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-decoration-color: #0b173d !important;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "MarkBook";
  margin: 0 auto;
  max-width: 1100px;
}

footer {
  border: 1px solid #d9d9d6;
  margin: 15px;
  padding: 30px;
  text-align: center;
}

footer p {
  color: #54575a;
  font-family: "MarkMedium";
  font-size: 18px;
  margin-bottom: 0;
}

h2 {
  color: #e05929;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: #e05929;
  font-size: 28px;
  margin: 0;
}

.btn {
  background-color: #0b173d;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin-top: 20px;
  padding: 15px 40px;
}

.corporate .hero h1 {
  color: #0b173d;
}

.marketing-services .hero {
  background-color: #e05929;
  justify-content: center;
}

.marketing-services .hero h1 {
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.description {
  color: #54575a;
  font-size: 16px;
  margin-bottom: 0;
}

.flex-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  width: 100%;
}

.intro {
  text-align: center;
}

.intro p {
  color: #54575a;
  margin: 40px 20px;
}

.requests .flex-item {
  border: 5px solid #fff;
  text-align: center;
}

.marketing-resources .flex-item {
  padding: 20px;
}

.flex-item img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

footer.flex-items {
  align-items: center;
}

.hero {
  align-items: center;
  border: 1px solid #d9d9d6;
  display: flex;
  margin: 15px;
  padding: 20px;
}

.hero h1,
h2,
h3,
.title {
  font-family: "MarkHeavy";
}

.hero h1 {
  color: #e05929;
  max-width: 550px;
  font-size: 32px;
}

.hero p {
  color: #fff;
  font-family: "MarkMedium";
  font-size: 18px;
  max-width: 600px;
  text-align: center;
}

.marketing-resources a:hover {
  color: #00558c;
}

.marketing-resources .title {
  color: #0b173d;
  margin-top: 0;
}

.marketing-resources .description {
  color: #75767a;
  margin-top: 10px;
}

.requests {
  margin: 20px 0;
}

.requests a {
  background-color: rgba(217, 217, 214, 0.3);
  display: block;
  padding: 20px;
  position: relative;
}

.requests a:hover {
  background-color: rgba(217, 217, 214, 0.5);
}

.requests .title {
  color: #54575a;
  font-size: 18px;
}

@media (min-width: 768px) {
  .btn {
    margin-top: 0;
  }

  .corporate .hero {
    background-image: url("../img/WF\ Landing\ Page\ Hero\ Image-no\ copy_MW\ Landing\ Page\ Corporate.png");
  }
  .division .hero {
    background-image: url("../img/WF\ Landing\ Page\ Hero\ Image-no\ copy_MW\ Landing\ Page\ Division.png");
  }

  .marketing-services .hero {
    background-image: url("../img/hero\ graphic-01.png");
  }

  .flex-item {
    width: 50%;
  }

  footer.flex-items {
    justify-content: flex-start;
  }

  .footer-l {
    width: 60%;
  }

  .hero {
    height: 350px;
    background-position: center;
    background-size: cover;
  }

  .marketing-services .hero h1 {
    font-size: 42px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .marketing-resources.flex-items {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .flex-item {
    width: 33.3333%;
  }

  .marketing-resources .description {
    max-width: 280px;
  }
}
