.no-bs h1,
.no-bs .headline {
    color: #e05929;
    font-family: 'Domine', 'serif';
    font-weight: 700;
}

.no-bs h1 {
    font-size: 72px;
}

.no-bs p {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

.no-bs .btn {
    background-color: transparent;
    border: 2px solid #e05929;
    border-radius: 0;
    color: #e05929;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    transition: all .3s ease-in-out;
    white-space: normal;
}

.no-bs .btn:hover {
    background-color: #e05929;
    color: #fff;
}

.no-bs h1 {
    font-size: 52px;
}

.no-bs .container-fluid {
    padding: 0;
}

.section {
    padding: 60px;
}

.no-bs .headline {
    font-size: 36px;
}

.hero,
.service-container p {
    text-align: center;
}

.hero p {
    font-size: 18px;
}

.hero .row {
    padding-top: 60px;
}

.hero .btn {
    width: 80%;
}

.hero .icon {
    padding-bottom: 12px;
    width: 150px;
}

.grey-bg {
    background-color: rgba(217,217,214,.5);
}

.hello,
.headline {
    text-align: center;
}

.hello p {
    font-size: 18px;
    padding-bottom: 15px;
}

.no-bs .hello a,
.service-container a {
    color: #e05929;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.no-bs .hello a:hover,
.service-container a:hover {
    color: #001641;
}

.no-bs .service-container p {
    margin-bottom: 0;
}

.no-bs .service-container .headline {
    margin-bottom: 30px;
}

.service-container .cta {
    color: #001641;
    font-weight: 700;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.service {
    display: flex;
    flex-basis: 100%;
    text-align: center;
}

.service p {
    color: #001641;
    font-weight: 400;
    font-size: 18px;
}

.service img {
    height: 35px;
    width: 35px;
}

.user-guide {
    text-align: center;
}

.user-guide .btn {
    padding: 15px;
    width: 100%;
}


@media (min-width: 768px) {
    .no-bs .btn {
        font-size: 16px;
    }

    .no-bs .hero .btn {
        font-size: 12px;
        padding: 10px 15px;
        height: 60px;
    }

    .hello p {
        max-width: 525px;
        margin: 0 auto;
    }

    .service p {
        font-size: 20px;
    }

    .service {
        border-right: 2px solid #e05929;
        flex-basis: auto;
        padding: 0 10px;
    }

    .service:last-of-type {
        border-right: none;
    }

    .service img {
        display: none;
    }

    .navigating-workfront .headline {
        margin-bottom: 60px;
    }
}

@media (min-width: 775px) {
    .no-bs .hero .btn {
        height: 42px;
    }
}

@media (min-width: 992px) {
    .section {
        padding: 80px;
    }

    .no-bs h1 {
        font-size: 72px;
    }

    .no-bs .btn {
        padding: 15px 25px;
    }

    .hero p {
        font-size: 22px;
    }

    .no-bs .hero .btn {
        font-size: 14px;
        padding: 15px;
        height: 56px;
    }

    .hello p {
        max-width: 545px;
    }

    .service p {
        font-size: 22px;
    }

    .user-guide .icon {
        height: 110px;
    }

    .no-bs .user-guide .btn {
        font-size: 14px;
        padding: 10px 25px;
        width: 80%;
    }

    .navigating-workfront iframe {
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .no-bs .btn {
        font-size: 20px;
        padding: 15px 40px;
    }

    .no-bs .hero .btn {
        width: 100%;
        font-size: 16px;
        padding: 16px 15px;
        height: 60px;
    }

    .workfront p {
        max-width: 400px;
    }

    .service {
        padding: 0 10px;
    }

    .no-bs .user-guide .btn {
        font-size: 16px;
        max-width: 350px;
        margin: 0 auto;
        padding: 15px 25px;
    }

    .user-guide .icon {
        height: 130px;
    }

    .navigating-workfront iframe {
        height: 200px;
    }
}

@media (min-width: 1400px) {
    .no-bs .btn {
        font-size: 22px;
    }

    .no-bs .hero .btn {
        font-size: 18px;
    }

    .user-guide .icon {
        height: 150px;
    }

    .navigating-workfront iframe {
        height: 230px;
    }
}

@media (min-width: 1600px) {
    .no-bs .hero .btn {
        padding: 15px 10px;
        width: 80%;
    }

    .user-guide .btn {
        display: block;
    }

    .user-guide .icon {
        height: 180px;
    }

    .navigating-workfront iframe {
        height: 260px;
    }
}

@media (min-width: 1700px) {
    .no-bs .hero .btn {
        width: 75%;
    }

    .user-guide .icon {
        height: 200px;
    }

    .navigating-workfront iframe {
        height: 280px;
    }
}