<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing and Corporate Affairs Request Center</title>
    <link rel="stylesheet" href="../../style/requestcenter.css">
</head>

<body class="marketing-services">
    <div class="hero">
        <div>
            <h1>Welcome</h1>
            <p>Let us know how we can assist you by selecting a service below.</p>
            <p>We look forward to working with you!</p>
        </div>
    </div>
    <div class="flex-items requests">
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests?projectID=5abe97a3005edcc54458664dc7deb63d&path=&activeTab=tab-new-helpRequest"
                target="_blank">
                <img src="../../icons/requestcenter/icon-mediaworks.png" alt="" class="icon">
                <p class="title">MediaWorks Requests</p>
                <p class="description">Request revisions to existing assets, add assets to MW, and get order support.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests?projectID=60ca7fe1000595104854e8bd5142db08&path=&activeTab=tab-new-helpRequest"
                target="_blank">
                <img src="../../icons/requestcenter/icon-design.png" alt="" class="icon">
                <p class="title">Design and Rebrand</p>
                <p class="description">New design <br>and rebranding requests</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60db8afa001296a1955fe68b3c1664c7&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-brand.png" alt="" class="icon">
                <p class="title">Brand Inquiries</p>
                <p class="description">Submit brand questions and request more information.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d612fc0002eb642f2b60b3c72e9182&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-store.png" alt="" class="icon">
                <p class="title">Custom Store Requests</p>
                <p class="description">Order custom items, create gift codes, or make product suggestions.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d6370100210395cd9047c211aa34f0&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-maps.png" alt="" class="icon">
                <p class="title">Maps</p>
                <p class="description">Create or update a facility, market or access point map.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d637e20021ff53f28c59247d49a34b&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-images.jpg" alt="" class="icon">
                <p class="title">Stock Image</p>
                <p class="description">Submit image feedback, request a stock photo or Getty access.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d4fc0a003ff281735b60fa9263e27c&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-photo-video.png" alt="" class="icon">
                <p class="title">Photo / Video Project</p>
                <p class="description">Request custom photo and video content, headshots, and event capture.</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d4ff8400425947e31dd7a9fb6768da&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-studio.png" alt="" class="icon">
                <p class="title">Studio</p>
                <p class="description">Book the studio or <br>request equipment</p>
            </a>
        </div>
        <div class="flex-item">
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60d5eb96001a89e4c58145ea6f0c19ef&path="
                target="_blank">
                <img src="../../icons/requestcenter/icon-event.png" alt="" class="icon">
                <p class="title">Event Management</p>
                <p class="description">Request event support, consultation, and management.</p>
            </a>
        </div>
    </div>
    <footer class="flex-items">
        <div class="footer-l">
            <h3>General Questions <br>and Workfront Support</h3>
            <p>Let us know how we can help!</p>
        </div>
        <div>
            <a href="https://hca.my.workfront.com/requests/new?activeTab=tab-new-helpRequest&projectID=60da2868001c8da46995aa984c96a189&path="
                target="_blank" class="btn">Click here!</a>
        </div>
    </footer>

    <h2>Marketing Resources</h2>

    <div class="flex-items marketing-resources">
        <div class="flex-item">
            <a href="https://www.shophcahealthcare.com/" target="_blank" class="title">HCA Healthcare Company Store</a>
            <p class="description">Purchase branded apparel, drinkware and more.</p>
        </div>
        <div class="flex-item">
            <a href="https://shophcafloridahealthcare.com/" target="_blank" class="title">HCA Florida Healthcare Store</a>
            <p class="description">Shop from a curated selection of HCA Florida Healthcare branded apparel and gifts.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/marketinghub.xhtml?go=openCategory_1557"
                target="_blank" class="title">MediaWorks</a>
            <p class="description">Download digital and print-ready assets.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcahealthcare.com/brand" target="_blank" class="title">Brand Resource Center</a>
            <p class="description">Find everything you need — logos, icons, templates and more — to strengthen our brand
                identity.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/marketinghub.xhtml?go=openCategory_4568#openCategory_4568" target="_blank" class="title">Florida Market Brand Resource Center</a>
            <p class="description">The Florida Market brand at your fingertips.</p>
        </div>
        <div class="flex-item">
            <a href="https://brandfolder.com/organizations/hca-healthcare" target="_blank" class="title">Brandfolder</a>
            <p class="description">Easily and safely store all of your digital assets.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/assets/2/811125" target="_blank" class="title">HCA
                Healthcare Brand Book</a>
            <p class="description">Read our guidelines for creating branded materials.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/marketinghub.xhtml?go=openCategory_4568#openCategory_4568" target="_blank" class="title">HCA Healthcare Florida Consumer Brand Guide</a>
            <p class="description">Guidelines for creating HCA Florida Healthcare branded materials.</p>
        </div>
        <div class="flex-item">
            <a href="https://www.gettyimages.com/" target="_blank" class="title">Getty Images</a>
            <p class="description">Find stock photos that help convey your message.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/marketinghub.xhtml?go=openCategory_1369"
                target="_blank" class="title">Content Catalyst</a>
            <p class="description">Find content resources and assets for use in blogs, newsletters, social media and
                more.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcaservicecentral.service-now.com/hca?id=hca_get_help&sys_id=ed495301db0d57c025b4eeb5ca9619c9"
                target="_blank" class="title">Workfront Support</a>
            <p class="description">Workfront access, tech support, and inquiries.</p>
        </div>
        <div class="flex-item">
            <a href="https://hcamediaworks.saepio.com/marketport/marketinghub.xhtml?go=openCategory_1796#openCategory_1796"
                target="_blank" class="title">Image Repository</a>
            <p class="description">Search for approved images that meet our brand style and standards.</p>
        </div>
        <div class="flex-item">
            <a href="https://mediaconnect.app.medcity.net/#/" target="_blank" class="title">MediaConnect</a>
            <p class="description">Watch the latest videos from across our organization.</p>
        </div>

        <div class="flex-item">
            <a href="https://www.storyblocks.com/" target="_blank" class="title">Storyblocks</a>
            <p class="description">Download stock video and audio for your project.</p>
        </div>
    </div>
</body>

</html>